USE [GD1C2022]
GO
/****** Object:  Table [gd_esquema].[Maestra]    Script Date: 22/05/2022 15:50:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gd_esquema].[Maestra](
	[CARRERA_FECHA] [date] NULL,
	[CODIGO_CARRERA] [int] NULL,
	[CARRERA_CLIMA] [nvarchar](100) NULL,
	[CARRERA_TOTAL_CARRERA] [decimal](18, 2) NULL,
	[CARRERA_CANT_VUELTAS] [int] NULL,
	[CIRCUITO_CODIGO] [int] NULL,
	[CIRCUITO_NOMBRE] [nvarchar](255) NULL,
	[CIRCUITO_PAIS] [nvarchar](255) NULL,
	[CODIGO_SECTOR] [int] NULL,
	[SECTOR_DISTANCIA] [decimal](18, 2) NULL,
	[SECTO_TIPO] [nvarchar](255) NULL,
	[INCIDENTE_BANDERA] [nvarchar](255) NULL,
	[INCIDENTE_NUMERO_VUELTA] [decimal](18, 0) NULL,
	[INCIDENTE_TIEMPO] [decimal](18, 2) NULL,
	[INCIDENTE_TIPO] [nvarchar](255) NULL,
	[AUTO_MODELO] [nvarchar](255) NULL,
	[AUTO_NUMERO] [int] NULL,
	[ESCUDERIA_NOMBRE] [nvarchar](255) NULL,
	[ESCUDERIA_NACIONALIDAD] [nvarchar](255) NULL,
	[PILOTO_NOMBRE] [nvarchar](50) NULL,
	[PILOTO_APELLIDO] [nvarchar](50) NULL,
	[PILOTO_NACIONALIDAD] [nvarchar](50) NULL,
	[PILOTO_FECHA_NACIMIENTO] [date] NULL,
	[PARADA_BOX_VUELTA] [decimal](18, 0) NULL,
	[PARADA_BOX_TIEMPO] [decimal](18, 2) NULL,
	[NEUMATICO1_POSICION_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO1_NRO_SERIE_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO1_TIPO_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO2_POSICION_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO2_NRO_SERIE_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO2_TIPO_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO3_POSICION_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO3_NRO_SERIE_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO3_TIPO_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO4_POSICION_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO4_NRO_SERIE_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO4_TIPO_VIEJO] [nvarchar](255) NULL,
	[NEUMATICO1_POSICION_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO1_NRO_SERIE_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO1_TIPO_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO2_POSICION_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO2_NRO_SERIE_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO2_TIPO_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO3_POSICION_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO3_NRO_SERIE_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO3_TIPO_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO4_POSICION_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO4_NRO_SERIE_NUEVO] [nvarchar](255) NULL,
	[NEUMATICO4_TIPO_NUEVO] [nvarchar](255) NULL,
	[TELE_AUTO_CODIGO] [decimal](18, 0) NULL,
	[TELE_AUTO_NUMERO_VUELTA] [decimal](18, 0) NULL,
	[TELE_AUTO_DISTANCIA_VUELTA] [decimal](18, 2) NULL,
	[TELE_AUTO_DISTANCIA_CARRERA] [decimal](18, 6) NULL,
	[TELE_AUTO_POSICION] [decimal](18, 0) NULL,
	[TELE_AUTO_TIEMPO_VUELTA] [decimal](18, 10) NULL,
	[TELE_AUTO_VELOCIDAD] [decimal](18, 2) NULL,
	[TELE_AUTO_COMBUSTIBLE] [decimal](18, 2) NULL,
	[TELE_CAJA_MODELO] [nvarchar](50) NULL,
	[TELE_CAJA_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_CAJA_TEMP_ACEITE] [decimal](18, 2) NULL,
	[TELE_CAJA_RPM] [decimal](18, 2) NULL,
	[TELE_CAJA_DESGASTE] [decimal](18, 2) NULL,
	[TELE_MOTOR_MODELO] [nvarchar](255) NULL,
	[TELE_MOTOR_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_MOTOR_POTENCIA] [decimal](18, 6) NULL,
	[TELE_MOTOR_RPM] [decimal](18, 6) NULL,
	[TELE_MOTOR_TEMP_ACEITE] [decimal](18, 6) NULL,
	[TELE_MOTOR_TEMP_AGUA] [decimal](18, 6) NULL,
	[TELE_NEUMATICO1_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_NEUMATICO1_POSICION] [nvarchar](255) NULL,
	[TELE_NEUMATICO1_PRESION] [decimal](18, 6) NULL,
	[TELE_NEUMATICO1_PROFUNDIDAD] [decimal](18, 6) NULL,
	[TELE_NEUMATICO1_TEMPERATURA] [decimal](18, 6) NULL,
	[TELE_NEUMATICO2_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_NEUMATICO2_POSICION] [nvarchar](255) NULL,
	[TELE_NEUMATICO2_PRESION] [decimal](18, 6) NULL,
	[TELE_NEUMATICO2_PROFUNDIDAD] [decimal](18, 6) NULL,
	[TELE_NEUMATICO2_TEMPERATURA] [decimal](18, 6) NULL,
	[TELE_NEUMATICO3_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_NEUMATICO3_POSICION] [nvarchar](255) NULL,
	[TELE_NEUMATICO3_PRESION] [decimal](18, 6) NULL,
	[TELE_NEUMATICO3_PROFUNDIDAD] [decimal](18, 6) NULL,
	[TELE_NEUMATICO3_TEMPERATURA] [decimal](18, 6) NULL,
	[TELE_NEUMATICO4_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_NEUMATICO4_POSICION] [nvarchar](255) NULL,
	[TELE_NEUMATICO4_PRESION] [decimal](18, 6) NULL,
	[TELE_NEUMATICO4_PROFUNDIDAD] [decimal](18, 6) NULL,
	[TELE_NEUMATICO4_TEMPERATURA] [decimal](18, 6) NULL,
	[TELE_FRENO1_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_FRENO1_TAMANIO_DISCO] [decimal](18, 2) NULL,
	[TELE_FRENO1_POSICION] [nvarchar](255) NULL,
	[TELE_FRENO1_TEMPERATURA] [decimal](18, 2) NULL,
	[TELE_FRENO1_GROSOR_PASTILLA] [decimal](18, 2) NULL,
	[TELE_FRENO2_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_FRENO2_TAMANIO_DISCO] [decimal](18, 2) NULL,
	[TELE_FRENO2_POSICION] [nvarchar](255) NULL,
	[TELE_FRENO2_TEMPERATURA] [decimal](18, 2) NULL,
	[TELE_FRENO2_GROSOR_PASTILLA] [decimal](18, 2) NULL,
	[TELE_FRENO3_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_FRENO3_TAMANIO_DISCO] [decimal](18, 2) NULL,
	[TELE_FRENO3_POSICION] [nvarchar](255) NULL,
	[TELE_FRENO3_TEMPERATURA] [decimal](18, 2) NULL,
	[TELE_FRENO3_GROSOR_PASTILLA] [decimal](18, 2) NULL,
	[TELE_FRENO4_NRO_SERIE] [nvarchar](255) NULL,
	[TELE_FRENO4_TAMANIO_DISCO] [decimal](18, 2) NULL,
	[TELE_FRENO4_POSICION] [nvarchar](255) NULL,
	[TELE_FRENO4_TEMPERATURA] [decimal](18, 2) NULL,
	[TELE_FRENO4_GROSOR_PASTILLA] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
